albucore
albumentations
annotated-types
attrs
certifi
charset-normalizer
coloredlogs
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
humanfriendly
idna
ImageIO
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
llvmlite
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
pillow
platformdirs
polars
polars-runtime-32
pooch
protobuf
psutil
pydantic
pydantic_core
PyMatting
pyparsing
python-dateutil
pytz
PyYAML
referencing
rembg
requests
rpds-py
scikit-image
scipy
seaborn
setuptools
simsimd
six
stringzilla
sympy
tifffile
torch
torchaudio
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
